/* 여기로 왔으면 잘했어요~ */
#hungry{
    color: violet;
}
#red_color{
    color: red;
}
#green_color{
    color: green;
}
#blue_color{
    color: blue;
}

#ul_square{
    list-style-type: square;
}

#ol_lower_alpha{
    list-style: lower-alpha;
}

#ol_lower_greek{
    list-style: lower-greek;
}
/* 이렇게 외부로 link를 사용해서 연결할 수도 있답니다. */