.menu{
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.home_background{
    background-color: steelblue;
    padding-bottom: 100px;
}

.WhoAmI_Background{
    background-color: cornflowerblue;
    padding-bottom: 100px;
}

.My_Work_Experience{
    background-color: cornflowerblue;
    padding-bottom: 100px;
}

.hobby_background{
    background-color: cornflowerblue;
    padding-bottom: 100px;
}

.basic_info{
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.btns{
    padding-left: 10px;
}